@model Conversation
@{
    ViewData["Title"] = "Chat";
    ViewBag.css = "chat.css";

    Layout = "_LayoutChat";
}

 <div class="msg_history">
     @foreach (var message in Model.Messages)
     {
        @if(!@message.sent)
        {
            <div class="incoming_msg">
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>@message.content</p>
                        <span class="time_date"> @message.created</span>
                    </div>
                </div>
            </div>
        } else
        {
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <p>@message.content</p>
                    <span class="time_date"> @message.created</span>
                </div>
            </div>
        }

    }
</div>
<!--div class="msg_history" id="Ross_Geller">
<div class="incoming_msg">
    <div class="received_msg">
    <div class="received_withd_msg">
        <p>check out</p>
        <span class="time_date"> 08:01 | April 6</span>
    </div>
    </div>
</div>
<div class="outgoing_msg">
    <div class="sent_msg">
    <p>What's up?</p>
    <span class="time_date"> 14:43 | April 7</span>
    </div>
</div>
</!--div-->
<div class="type_msg">
    <form id="create_message" class="input_msg_write">
        <input type="hidden" id="contactMessageid" name="contactId" value="@Model.id" />
        <input type="hidden" id="contactServer" value="@Model.server" />
        <input type="hidden" id="userMessageid" value="@ViewBag.UserName" />

        <input type="text" id="messageContent" name="message" placeholder="Type a message"/>
        <button class="msg_send_btn" type="submit">
            <i class="fa fa-fw fa-send"></i>
        </button>
    </form>
</div>
@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
